<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <form method="POST" action="{{ url_for('edit_post', id=post.id)}}">
      <label>Title</label></br>
       <input name="title" /><br></br>
       <label>Author</label></br>
       <input name="author" ></input><br></br>
       <label>Content</label></br>
       <textarea name="content"></textarea><br></br>
      <input type="submit" value="Submit">
     </form>

  </body>
</html>
